.status-bar{
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}
.stattus-bar__column{
    width: 33%;
}
.stattus-bar__column:first-child span{
    margin-right: 5px;
}
.stattus-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.stattus-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.stattus-bar__column .fa-battery-full{
    margin: 0px 5px;
}